---
import ButtonViewProduct from "./ButtonViewProduct.astro";
---

<article class="w-full h-80 bg-[#5795a3] grid grid-cols-2 ">
    <img src="./assets/lamp-hand.png" alt="">
    <div class="h-80 items-center p-7  grid text-lime-50">
        <h3 class="text-4xl">Luminous</h3>
        <p class="font-extralight w-48">Indulge in opulence with our exquisite Grandeur Lamp. A must-have.</p>
        <ButtonViewProduct />
    </div>
</article>