---
import IconMenu from "../components/icon/IconMenu.astro";
---

<header
  class="container mx-auto flex justify-between items-baseline py-7 text-lime-50"
>
  <span
    class="flex text-2xl text-stone-400 hover:text-amber-100 transition-all cursor-pointer"
  >
    MENU</span
  >
  <h3 class="text-2xl font-bold uppercase">Domassi Light</h3>
  <a class="text-2xl text-stone-400" href="#">message</a>
</header>
