<article class="w-full h-28 bg-[#EB8888] grid sm:grid-cols-2 text-lime-50 ">
    <div>
        <h4>Good Things</h4>
        <p>Come to there who sign up for our newsletter.</p>
    </div>
    <form class="grid gap-4 px-4 content-center h-28">
        <input class="text-center bg-transparent border-lime-50 border py-1" type="email" name="email" id="email" placeholder="enter your mail">
        <input class="bg-[#5795A3] py-2" type="submit" value="Subcribe">
    </form>
</article>