<footer class="flex w-full text-slate-100 justify-between">
    <p>Created by <a href="http://adelkis.dev" class="hover:scale-x-110" target="_blank" rel="noopener noreferrer">Adelkis<span class="text-teal-500 font-semibold">Dev</span></a></p>
    <p>This website is a demo</p>
    <div></div>
</footer>